body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 1000px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #0C0A3E;
    color: #F4FAFF;
    border-bottom: 6px solid #320D6D;
    text-shadow: 1px 1px 2px pink;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.hoover:hover {
    background-color: #B287A3;
    animation-name: example;
    animation-duration: 4s;
    
}

.border-blue {
    border: 1px dotted blue;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

